.treeArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  
  .tree-controls {
    border-bottom: 1px solid #ddd;
    flex: 0 0 auto;
    padding: 12px;
  }
  
  .tree-tree {
    padding: 24px 0;
    flex: 1 1 auto;
  }
  
  .gb-snack-bar {
    position: absolute;
    background: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 2000;
    margin: 24px;
  }